/*!
    Cory Bateman http://www.corycode.me 
    MIT License http://opensource.org/licenses/MIT 
*/

$full-width-max: 48em;
$full-width-app: 48.125em;

body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 16px;
    background: #FCFCFC;
    color: #2d2d2d;
    overflow-x: hidden;
    padding: 6px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

a {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: #2d2d2d;
        text-decoration: none;
    }
}

header {
}

main {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    padding: 8px;

    @include respond-min($nav-break) {
        left: 260px;
        top: 80px;
        max-width: 800px;
    }
}
footer {
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 12px;

    @include respond-min(600px) {
        font-size: 2.2em;
    }
}

h2 {
    font-size: 1.2em;
    margin-top: 16px;

    @include respond-min(600px) {
        font-size: 1.6em;
        margin-top: 20px;
    }
}

form {
    margin-bottom: 24px;
}

a {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: #2d2d2d;
        text-decoration: none;
    }
}

.text-center {
    text-align: center;
}

.btn-link {
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 16px;

    &:hover {
        text-decoration: none;
    }

    &--large {
        @extend .btn-link;
        font-size: 22px;
    }
}