<section ng-if="!base.isAuthenticated">
    <h1>Login</h1>

    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('twitter')">Login With Twitter</button><br />
    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('google')">Login With Google</button><br />
    <button type="button" ng-hide="base.isAuthenticated" ng-click="base.login('facebook')">Login With Facebook</button><br />
</section>

<section ng-if="base.isAuthenticated">
    <h1>PSI</h1>
</section>